QWEN_API_KEY=your_hackathon_qwen_api_key
BITGET_API_KEY=your_bitget_api_key
BITGET_SECRET_KEY=your_bitget_secret_key
BITGET_PASSPHRASE=your_bitget_passphrase
JSONBIN_ID=optional_for_live_risk_monitor
JSONBIN_KEY=optional_for_live_risk_monitor
